<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>

</head>

<body>

    <div class="sertifikat">
        <div class="latar">
            <img src="/public/img/latar sertifikat.png" alt="latar">
        </div>
        <div class="data">
            <div class="atas">
                <p>Ijazah</p>
                <img src="/public/img/logoUniv.png" alt="">
            </div>
            <div class="batang-tubuh">
                <p class="univ"><%= data.lembaga %></p>
                <div class="bagian-atas">
                    <div class="nomor" style="margin-left: 100px;">
                        <p>nomor: </p>
                        <p><%= data.nomor %></p>
                    </div>
                    <p style="font-family: 'Source Serif Pro', serif;">Berdasarkan keputusan rektor menyatakan
                        bahwa:
                    </p>
                </div>
                <div class="data-ijazah">
                    <div class="idk">
                        <p style="font-family: 'Source Serif Pro', serif;">nama: </p>
                        <p style="font-family: 'Source Serif Pro', serif;">tempat tanggal lahir: </p>
                        <p style="font-family: 'Source Serif Pro', serif;">Nomor Induk Mahasiswa: </p>
                        <p style="font-family: 'Source Serif Pro', serif;">Program Studi: </p>
                        <p style="font-family: 'Source Serif Pro', serif;">Tanggal Lulus: </p>

                    </div>
                    <div class="pisahan">
                        <p style="font-family: 'Source Serif Pro', serif;"><%= data.nama %></p>
                        <p style="font-family: 'Source Serif Pro', serif;"><%= data.ttl %></p>
                        <p style="font-family: 'Source Serif Pro', serif;"><%= data.nim %></p>
                        <p style="font-family: 'Source Serif Pro', serif;"><%= data.jenjang %> <%= data.prodi %></p>
                        <p style="font-family: 'Source Serif Pro', serif;"><%= data.tglLulus %></p>
                    </div>
                </div>

            </div>
            <div class="perpisahan">
                <p style="font-family: 'Source Serif Pro', serif;">telah menyelesaikan dan memenuhi seluruh
                    persyaratan
                    pendidikan</p>
                <p style="font-family: 'Source Serif Pro', serif;"><%= data.gelar %></p>
                <p style="font-family: 'Source Serif Pro', serif;">beserta segala hak dan kewajiban yang melekat
                    pada
                    sebutan tersebut</p>
            </div>

            <div class="ttd">
                <div class="rektor">
                    <p style="font-family: 'Source Serif Pro', serif;">rektor,</p>
                    <div class="qr" id="qrRektor">
                        <!-- <img src="img/qr.png" alt=""> -->
                    </div>
                </div>
                <div class="poto">
                    <img src="/public/img/pasFoto.jpg" onerror="this.src='/public/img/pasFoto.jpeg'">
                </div>
                <div class="dekan">
                    <p style="font-family: 'Source Serif Pro', serif;">dekan,</p>
                    <div class="qr" id="qrDekan">
                        <!-- <img src="img/qr.png" alt=""> -->
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- <script src="/public/js/sha256.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.34/dist/web3.js"></script>
    <script src="/public/js/notaryWebLib.js"></script>
    <script src="/public/js/app.js"></script> -->
    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/qrcode.min.js"></script>
    <script src="/public/js/html2canvas.js"></script>

    <script>
        const rektor = document.getElementById('qrRektor')
        const dekan = document.getElementById('qrDekan')

        new QRCode(rektor,
            "Data Rektor asal <%= data.lembaga %> \nNama Rektor: <%= data.rektor %>\nNIP Rektor: <%= data.nipRektor %>"
        )
        new QRCode(dekan,
            "Data Dekan asal <%= data.lembaga %> \nNama Dekan: <%= data.dekan %>\nNIP Dekan: <%= data.nipDekan %>"
        )
    </script>


    <script>
        window.addEventListener('load', () => {
            window.print();
        })


        window.addEventListener('afterprint', () => {
            window.location.href = "/cek";
        })
    </script>

</body>

</html>