<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/public/css/transkrip.css">
</head>

<body>
    <div class="container">
        <div class="head">
            <div class="head__logo">
                <img src="/public/img/logoUniv.png" alt="">
            </div>
            <div class="head__fapro">
                <h1>fakultas <%= data.fakultas %></h1>
                <h2><%= data.jenjang %> <%= data.prodi %></h2>
            </div>
            <div class="head__univ">
                <p><%= data.lembaga %></p>
            </div>
        </div>
        <div class="identitas">
            <div class="identitas__head">
                <h2>transkrip akademik</h2>
            </div>
            <div class="identitas__nomor">
                <p>nomor : <%= data.nomor %></p>
            </div>
            <div class="identitas__data">
                <div class="identitas__label">
                    <p>nama :</p>
                    <p>nomor induk mahasiswa :</p>
                    <p>tempat, tanggal lahir :</p>
                    <p>tanggal lulus :</p>
                    <p>jenjang pendidikan :</p>
                    <p>no. keputusan rektor :</p>
                </div>
                <div class="identitas__isi">
                    <p><%= data.nama %></p>
                    <p><%= data.nim %></p>
                    <p><%= data.ttl %></p>
                    <p><%= data.tglLulus %></p>
                    <p><%= data.jenjang %></p>
                    <p><%= data.nomorRektor %></p>
                </div>
            </div>
        </div>
        <table class="table">
            <tr class="table__head">
                <td class="table__name">no</td>
                <td class="table__name">kode</td>
                <td class="table__name">mata kuliah</td>
                <td class="table__name">semester</td>
                <td class="table__name">sks</td>
                <td class="table__name">nilai</td>
            </tr>
            <% let sks = Number(0) %>
            <% if (data.kode_matkul != null){ %>
            <% if (typeof (data.kode_matkul) != "string"){ %>
            <% for (let index = 0; index < data.kode_matkul.length; index++)  { %>
            <tr class="table__rows">
                <td class="table__data"><%= index + 1 %></td>
                <td class="table__data"><%= data.kode_matkul[index] %></td>
                <td class="table__data"><%= data.matkul[index] %></td>
                <td class="table__data"><%= data.semester[index] %></td>
                <td class="table__data"><%= data.sks[index] %></td>
                <td class="table__data"><%= data.nilai[index] %></td>
            </tr>
            <% sks += Number(data.sks[index]) %>
            <% } %>

            <% } else { %>
            <tr class="table__rows">
                <td class="table__data"><%= 1 %></td>
                <td class="table__data"><%= data.kode_matkul %></td>
                <td class="table__data"><%= data.matkul %></td>
                <td class="table__data"><%= data.semester %></td>
                <td class="table__data"><%= data.sks %></td>
                <td class="table__data"><%= data.nilai %></td>
            </tr>
            <% sks += Number(data.sks) %>
            <% } %>
            <% } %>
        </table>
        <div class="akademik">
            <div class="akademik__head">
                <p>pencapaian akademik</p>
            </div>
            <div class="akademik__sks">
                <p>SKS (Satuan Kredit Semester)</p>
                <p>Total</p>
                <p><%= sks %> sks</p>
            </div>
            <div class="akademik__ipk">
                <p>IPK (Indeks Prestasi Kumulatif)</p>
                <p>Grade</p>
                <p><%= data.ipk %> (dari 4.00)</p>
            </div>
        </div>
        <div class="ta">
            <div class="ta__head">
                <p>tugas akhir</p>
            </div>
            <div class="ta__judul">
                <p><%= data.ta %></p>
            </div>
        </div>
        <div class="akhir">
            <div class="akhir__rektor">
                <p>rektor,</p>
                <!-- <img src="img/qr.png" alt=""> -->
                <div id="qrRektor"></div>
            </div>
            <div class="akhir__foto">
                <img src="/public/img/pasFoto.jpg" onerror="this.src='/public/img/pasFoto.jpeg'">
            </div>
            <div class="akhir__dekan">
                <p>dekan,</p>
                <!-- <img src="img/qr.png" alt=""> -->
                <div id="qrDekan"></div>
            </div>
        </div>
    </div>

    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/qrcode.min.js"></script>

    <script>
        const rektor = document.getElementById('qrRektor')
        const dekan = document.getElementById('qrDekan')

        // new QRCode(rektor, "<%= data.rektor %> (<%= data.nipRektor %>)")
        // new QRCode(dekan, "<%= data.dekan %> (<%= data.nipDekan %>)")
        new QRCode(rektor,
            "Data Rektor asal <%= data.lembaga %> \nNama Rektor: <%= data.rektor %>\nNIP Rektor: <%= data.nipRektor %>"
        )
        new QRCode(dekan,
            "Data Dekan asal <%= data.lembaga %> \nNama Dekan: <%= data.dekan %>\nNIP Dekan: <%= data.nipDekan %>")

        window.addEventListener('load', () => {
            window.print();
        })

        window.addEventListener('afterprint', () => {
            window.location.href = "/cekTranskrip";
        })
    </script>
</body>

</html>